* {
  box-sizing: border-box;
}

body {
  background-color: #d2deff; /* bgc#90c7e3 */
  color: #000000; /* c#555 */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; /* ffa */
}

h1 {
  letter-spacing: 0.1em; /* lts.25em */
  margin-bottom: 0.5em; /* mb0 */
  margin-top: 0.5em; /* mt0 */
  color: #000b49; /* c#1976d2 */
  text-shadow: 1px 1px #8b91b6; /* txs1px1px#ccc */
}

#gallery {
  display: grid;
  gap: 2em;
  padding-bottom: 2em;
  grid-template-columns: repeat(2, 1fr);
}
#gallery img {
  box-shadow: 10px 10px 10px #777;
  width: 50%;
}

#imageofme img {
  box-shadow: 10px 10px 10px #777;
  width: 30%;
}

footer {
  font-family: Georgia, "Times New Roman", Times, serif;
}
footer {
  background-color: #d2deff;
  font-size: 75%; /* fz75% */
  font-style: italic; /* fsi */
  padding: 2em; /* p2em */
  text-align: center; /* txa */
}
